<mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form (submit)="onSignup(signupForm)" #signupForm="ngForm" *ngIf="!isLoading">
        <mat-form-field>
            <input matInput name="email" #email="ngModel" ngModel required email type="email" placeholder="E-mail">
            <mat-error *ngIf="email.invalid">please enter a valid E-mail.</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput name="password" #password="ngModel" ngModel required type="password" placeholder="Password">
            <mat-error *ngIf="password.invalid">please enter a valid Password.</mat-error>
        </mat-form-field>
        <button color="primary" *ngIf="!isLoading" mat-raised-button type="submit">Signup</button>
    </form>

</mat-card>